<div class="card">
  <div class="card-header text-white bg-info">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <form (ngSubmit)="saveHotel()" [formGroup]="hotelForm" novalidate>
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="hotelNameId">
          Nom Hotel
        </label>
        <div class="col-md-8">
          <input
            class="form-control"
            formControlName="hotelName"
            id="hotelNameId"
            placeholder="Nom(obligatoire)"
            type="text">
        </div>
      </div>
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="hotelPriceId">
          Prix
        </label>
        <div class="col-md-8">
          <input
            class="form-control"
            formControlName="price"
            id="hotelPriceId"
            placeholder="Prix(obligatoire)"
            type="text">
        </div>
      </div>
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="starRatingId">
          Évaluation (1-5)
        </label>
        <div class="col-md-8">
          <input
            class="form-control"
            formControlName="rating"
            id="starRatingId"
            placeholder="Évaluation  (1-5)"
            type="text">
        </div>
      </div>
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="descriptionId">
          Description
        </label>
        <div class="col-md-8">
            <textarea
              class="form-control"
              formControlName="description"
              id="descriptionId"
            ></textarea>
        </div>
      </div>
      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-info mr-3" type="submit">
            Sauvgarder
          </button>
          <button [routerLink]="['/hotels']" class="btn btn-outline-secondary mr-3" type="button">
            Annuler
          </button>
          <button class="btn btn-outline-danger" type="button">
            Supprimer
          </button>

        </div>
      </div>


    </form>
  </div>
</div>
<!--<pre>
  {{hotelForm?.value | json}}
</pre>-->
